{% extends "base.html" %}

{% load static %}

{% block title %} Nopixel Directory {% endblock %}

{% block navbar %}Members of {{ group.name }}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <table id="myTable" class="table table-striped table-bordered-vertical mt-5">
          <thead>
            <tr>
              <th>Role</th>
              <th>Character</th>
              <th>On GTA</th>
              <th>Viewcount</th>
              <th>Twitch</th>
              <!--<th>Title</th>-->
              </tr>
            </thead>
          <tbody>
            {% for member in gang_members %}
              <tr>
                <td>{{ member.member_role }}</td>
                <td>{{ member.character_name }}</td>
                <td>{% if member.character_streamer.streamer_on_gta == True %}
                    GTA <img src="{% static 'Directory/images/online.png' %}" alt="Online" style="width: 15px; height: 15px;">
                  {% elif member.character_streamer.streamer_is_live == True %}
                    Variety <img src="{% static 'Directory/images/variety.png' %}" alt="Online" style="width: 15px; height: 15px;">
                  {% else %}
                    Offline <img src="{% static 'Directory/images/offline.png' %}" alt="Offline" style="width: 15px; height: 15px;">
                  {% endif %}
                </td>
                <td>{{ member.character_streamer.streamer_viewcount}}</td>
                <td><a href="https://www.twitch.tv/{{ member.character_streamer }}/" title="{{ member.character_streamer.streamer_title }}">{{ member.character_streamer }}</a></td>
                </tr>
              {% endfor %}
            </body>
          </table>
        </div>
      </div>
    </div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>
  </div>
</div>
<script>
    var timestamps = [
        {% for item in gang_data %}
            "{{ item.0 }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    var people_on_gta = [
        {% for item in gang_data %}
            {{ item.2 }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
</script>
<script> 
ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: timestamps,
        datasets: [{
            label: 'Group Members Online',
            data: people_on_gta,
            fill: false,
            borderColor: 'blue',
            tension: 0.1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

  {% endblock %}