{% extends "base.html" %}

{% block title %} Nopixel Directory {% endblock %}

{% block navbar %}NoPixel Directory{% endblock %}

{% block content %}
  <div class="container-fluid" style="padding-left: 8%; padding-right: 8%; padding-top: 2%;">
    <div class="row mb-3">
      {% for group in active_groups %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-3">
          <a href="/group/{{ group.slug }}/" class="text-decoration-none">
            <div class="card" style ="height: 290px; overflow: hidden">
              {% load static %}
              {% with 'Directory/images/'|add:group.name|add:'.png' as image_path %}
              <img src="{% static image_path %}" class="card-img-top" alt="{{ group.name }}" style = "height: 200px; object-fit: contain; width: 100%;">
              {% endwith %}
              <div class="card-body">
                <h5 class="card-title">{{ group.name }}</h5>
                <p class="card-text">Online: {{ group.people_on_gta }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
<div class="d-flex align-items-center justify-content-center vh-100 inactive-groups-dropdown">
  <h2 class="mr-3 text-center">Inactive Groups:</h2>
  <button id="toggleButton" class="btn btn-primary">Show</button>
</div>
  <div id="inactive_groups">
    <ul>
      {% for group in inactive_groups %}
        <li><a href = "/group/{{ group.slug }}/">{{ group.name }}: {{ group.people_on_gta }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}