body {
    background: #111111;
    color: #efefef;
}

.custom-navbar-text {
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.custom-navbar-home {
    font-size: 26px;
}

#inactive_groups {
    display: none;
}

#inactive_groups ul{
    list-style-type: none;
    column-count: 4;
    column-gap: 20px;
    color: #ffffff;
}

#inactive_groups ul li a{
    color: #ffffff;
}

.inactive-groups-dropdown{
    margin-bottom: 5rem;
}

.navbar, .nav-link{
    background: #0c0c0c;
    color: #efefef;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    font-size: 120%;
    position: relative;
}

.card {
    background: #0c0c0c;
    color: #efefef;
}

.btn-primary {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
    background: #0c0c0c;
    color: #efefef;
}

.custom-form-width{
    width: 20%;
    max-width: 1200px;
}

.form-control.mr-sm-2{
    background-color:#111111;
    width: 70%;
    color:#ffffff;
}

tr:nth-of-type(even) {
    background-color: #151515;
}

table {
    border: 2px solid #bebebe;
}

.table-bordered-vertical th,
.table-bordered-vertical td {
    border-left: 2px solid #bebebe;
    border-right: 2px solid #bebebe;
    border-bottom: 2px solid #bebebe;
}

@media (prefers-color-scheme: light) {
    body {
        background: #dbdbdb;
        color: #000000;
    }

    .navbar, .nav-link {
        background: #cacaca;
        color: #000000;
    }

    .card {
        background: #eaeaea;
        color: #000000;
    }

    .btn {
        background: #ffffff;
        color: #000000;
    }

    .form-control.mr-sm-2{
        background-color:#ffffff;
        width: 70%;
        color:#000000;
    }

    #inactive_groups ul li a{
        color: #000000;
    }

    tr:nth-of-type(even) {
        background-color: #dcdcdc;
    }

    table {
        border: 2px solid #141414;
        border-bottom: 2px solid #141414;
    }

    .table-bordered-vertical th,
    .table-bordered-vertical td {
        border-left: 2px solid #141414;
        border-right: 2px solid #141414;
        border-bottom: 2px solid #141414;
    }

}
